:root {
  --color-text-title: #002203;
  --color-text-dark: #423f35;
  --color-primary-brand: #00780c;
  --color-primary-grey: #f8f8f5;
  --color-text-liht: #ffffff;
  --color-secondary-green: #10df25;
  --color-secondary-grey: #ddddd9;
  --color-secondary-light-green: #effdd4;
}
