:root {
  --color-text-title: #002203;
  --color-text-dark: #423f35;
  --color-primary-brand: #00780c;
  --color-primary-grey: #f8f8f5;
  --color-primary-silver: #fafaf9;
  --color-primary-light-green: #e1fdae;
  --color-text-liht: #ffffff;
  --color-secondary-brand: #002203;
  --color-secondary-green: #47ce55;
  --color-secondary-grey: #ddddd9;
  --color-secondary-light-green: #effdd4;
  --color-secondary-black: #191610;
}
