.link {
  font-size: 15px;
  line-height: 1.2;

  &:hover {
    color: var(--color-secondary-green);
  }
}

.grey-link {
  display: inline-flex;
  gap: 8px;
  padding: 4px 16px;
  border-radius: 16px;
  background-color: var(--color-primary-grey);

  &:hover {
    background-color: var(--color-secondary-grey);
  }
}

.green-link {
  display: inline-flex;
  gap: 8px;
  padding: 4px 16px;
  border-radius: 16px;
  background-color: var(--color-primary-brand);

  &:hover {
    background-color: var(--color-secondary-green);
  }
}

.transparent-link {
  display: inline-flex;
  gap: 8px;
  padding: 4px 16px;
  margin-top: 8px;
  border-radius: 8px;

  &:hover {
    background-color: var(--color-secondary-light-green);
  }
}

.link-text {
  font-size: 15px;
  line-height: 1.2;
}
