.container {
  max-width: 1200px;
  margin: 0 auto;
}

.green-text {
  color: var(--color-primary-brand);
}

.white-text {
  color: var(--color-text-liht);
}

.mark {
  width: 18px;
  height: 18px;
}

.green-text-block {
  display: flex;
  gap: 12px;
  margin-bottom: 4px;
}

.green-background {
  width: 28px;
  height: 28px;
  background-color: var(--color-secondary-light-green);
  border-radius: 4px;
}

.light-green-background {
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: var(--color-primary-light-green);
  border-radius: 4px;
  margin-bottom: 14px;
}

.grey-background {
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: var(--color-secondary-grey);
  border-radius: 4px;
  margin-bottom: 14px;
}
