.optimize-section {
  &__container {
    display: flex;
  }

  &__text-container {
    margin-top: 100px;
  }

  &__title {
    max-width: 541px;
    margin-bottom: 42px;
    font-size: 40px;
    line-height: 1;
  }

  &__text {
    max-width: 427px;
    margin-bottom: 29px;
    font-size: 18px;
    line-height: 1.55;
  }

  &__list {
    margin-bottom: 42px;
  }
}
