.use-cases-section {
  padding: 120px 40px;
  background-color: var(--color-primary-silver);

  &__title {
    font-size: 24px;
    line-height: 1.16;
    color: var(--color-secondary-brand);
  }

  &__title-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
  }

  &__list-use {
    display: flex;
    gap: 48px;
    margin-top: 87px;
    margin-bottom: 115px;
  }

  &__list-industries {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
  }

  &__text {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 1.2;
  }

  &__item {
    flex-basis: 240px;
  }

  &__arrow {
    width: 16px;
    height: 16px;
  }
}
